# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml

# Backups folder
/KiCad/MDTB50+icm/MDTB50+icm-backups
/KiCad/MDTB50+icm/production/backups
/KiCad/Fuimini-V2-backups/*.zip


# Lock
*.lck

# Stuff that isn't mine
/MDBT50 footprint
/MDBT50 Footprint_Design Guide-221129

# Skill check
/KiCad/Panel